<div class="row">
    <div class="col-lg-14 col-md-14 col-sm-14">
        <div class="card">
            <div class="card-body bg-transparent">
                <input type="hidden" id="exam-id" value="@ViewBag.ExamId" />
                <h4 class="card-title"><i class="fa fa-chart-bar"></i> Admin Dashboard</h4>
                <h5 id="exam-title" class="mt-4">Examinees for</h5>

                <table id="examinee-table" class="table table-dark table-striped table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Exam</th>
                            <th>Examinee</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Total Marks</th>
                            <th>Obtained Marks</th>
                            <th>Total Submission</th>
                            <th>Status</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<partial name="_ExamineeScore"/>

<script type="text/javascript">
    $(document).ready(function () {
        questionService.getExaminees();
    });
</script>