
<div class="row">
    <div class="col-lg-10 col-md-10 col-sm-12 offset-lg-1 offset-md-1">
        <div class="card">
            <div class="card-body bg-transparent">
                <h4 class="card-title"><i class="fa fa-cogs"></i> Admin Settings</h4>
                <p>Comming soon..</p>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        
    });
</script>