<div class="row">
    <div class="col-lg-10 col-md-10 col-sm-12 offset-lg-1 offset-md-1">
        <div class="card">
            <div class="card-body bg-transparent">
                <h4 class="card-title"><i class="fa fa-users" aria-hidden="true"></i> User Management</h4>
                <h5 class="mt-4">User List</h5>

                <table id="user-table" class="table table-dark table-striped table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Email</th>
                            <th>Role</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        userManagementService.getUserList();
    });
</script>