<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12 offset-lg-2 offset-md-2">
        <div class="card">
            <div class="card-body bg-light">
                <input type="hidden" value="@ViewBag.EC" id="ec" />
                <input type="hidden" id="exam-id" value="@ViewBag.ExamId" />
                <input type="hidden" id="exam-status" value="@ViewBag.Status" />
                <h4 class="card-title"><i class="fa fa-keyboard"></i> Software Engineer Online Programming Test</h4>
                <h6>Hosted By: <strong>ASA International</strong></h6>
                <span class="badge bg-secondary p-2 text-white">Date Time: </span>
                <span class="badge bg-dark p-2 text-white">3rd April, 2021</span>
                <span class="badge bg-secondary p-2 text-white">Total Questions: </span>
                <span class="badge bg-dark p-2 text-white">15</span>
                <span class="badge bg-secondary p-2 text-white">Duration: </span>
                <span class="badge bg-dark p-2 text-white">90 Minutes</span>
                <h5 class="mt-4">Instructions</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">1) Before starting the test, make sure that you have a <strong>good internet connection</strong></li>
                    <li class="list-group-item">2) During test, <strong>DO NOT</strong> use any external device such as mobile phone or TAB</li>
                    <li class="list-group-item">3) This test is <strong>Window Proctored.</strong> Please <strong>DO NOT</strong> navigate away from the test window during the test. If the system detects that you have opened any other browser tab, application (browser, chat etc) it will mark you disqualified. Even you are not allowed to click on <strong>outside the browser page area</strong> during the <strong>TEST</strong>.</li>
                    <li class="list-group-item">4) Once the test is started, you cannot <strong>leave it or restart it.</strong></li>
                    <li class="list-group-item">5) You can submit same questions as many times as you want, <strong>only the last submitted answer will be counted.</strong></li>
                </ul>

                <h6 class="mt-4">Please fill up the information below and proceed for the test</h6>
                <div class="mb-3">
                    <label for="name" class="form-label text-dark">Full Name</label>
                    <input type="text" class="form-control" id="name" name="name">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label text-dark">Email Address</label>
                    <input type="email" class="form-control" id="email" name="email">
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label text-dark">Mobile #</label>
                    <input type="tel" class="form-control" id="phone" name="phone">
                </div>
                <button onclick="questionService.saveExaminee()" class="btn btn-success btn-block text-white mt-5">START TEST</button>
            </div>
        </div>
    </div>
</div>