<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 offset-lg-3 offset-md-3">
        <div class="card">
            <div class="card-body bg-dark">
                <h4 class="text-white">Administration Access</h4>
                <form asp-controller="Account" asp-action="Login" method="post">
                    <div class="mb-3">
                        <label for="email" class="form-label text-white">Email address</label>
                        <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
                        <div id="emailHelp" class="form-text text-secondary">Use your organizational email address</div>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label text-white">Password</label>
                        <input type="password" class="form-control" id="password" name="password">
                    </div>
                    <button type="submit" class="btn btn-success btn-block">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>